<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta name='viewport' content='width=device-width' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>동네가게 이메일 템플릿</title>
  </head>

  <body>
    <!-- copy area start-->
    <table
      bgcolor='#FFFFFF'
      border='0'
      cellpadding='0'
      cellspacing='0'
      style="padding: 0;
    margin: 0; border-spacing:0px !important; -webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:none; 
    font-family: 'AppleSDGothic', 'apple sd gothic neo','Roboto', 'DotumChe', 'Dotum', 'sans-serif' !important; max-width: 600px !important;"
    >
      <tr>
        <td
          bgcolor='#fe7000'
          class='header-padding'
          style=' height: 80px;
            padding: 0px 0px 0px 32px; border-top: 1px solid #FE7000; border-left: 1px solid #FE7000; border-right: 1px solid #FE7000;'
        >
          <table style='border-spacing:0px;'>
            <tr>
              <td class='header'>
                <img
                  src='https://d1jwjxg29cufk5.cloudfront.net/mail/c5a48877-fb04-491b-8c10-7ee350cd2c78.png'
                  width='92px'
                  height='22px'
                  alt='동네가게 로고'
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td
          class='all-padding'
          style='padding: 0px 32px 0px 32px; border-left: 1px solid #E7E5E4; border-right: 1px solid #E7E5E4;'
        >
          <table style='border-spacing:0px !important;'>
            <tr>
              <td class='blank_001' style='height: 38px;'></td>
            </tr>
            <tr>
              <td
                class='title'
                style=' font-size: 24px;
                        line-height: 28px;
                        letter-spacing: -0.05em;color:#000001;'
              >임시 비밀번호 안내</td>
            </tr>
            <tr>
              <td class='blank_002' style='height: 24px;'></td>
            </tr>
            <tr>
              <td
                class='contents'
                style=' font-size: 15px;
                        line-height: 150%;
                        letter-spacing: -0.05em;
                        text-decoration: none;
                        pointer-events: none;color:#000001;'
              ><p
                  style='padding: 0px; margin:0px;overflow-wrap: break-word; word-wrap: break-word; word-break: break-word'
                >안녕하세요. 동네가게
                  <strong>{{fullName}}</strong><span
                    style='word-break: break-all; white-space: wrap;text-decoration: none;
                        pointer-events: none;color:#000001;'
                  >({{username}})고객님.</span><br />
                  요청하신 임시 비밀번호는 다음과 같습니다.
                  <br />
                  임시비밀번호를 드래그 또는 더블 탭 후 휴대전화의 복사하기
                  기능을 이용해서 붙여넣기 해주세요.</p></td>
            </tr>
            <tr>
              <td class='blank_002' style='height: 24px;'></td>
            </tr>
            <tr>
              <td
                class='divider'
                bgcolor='#E7E5E4'
                style='width: 100%; height:1px; padding:0px;display:block;'
              > </td>
            </tr>
            <tr>
              <td class='blank_003' style='height: 32px;'></td>
            </tr>
            <tr>
              <td
                class='title_002'
                style='font-size: 14px;
                        line-height: 150%;
                        letter-spacing: -0.05em;
                        color: #9C9996;'
              >
                임시 비밀번호 :
              </td>
            </tr>
            <tr>
              <td
                class='password'
                style='font-size: 20px;
                        line-height: 150%;
                        letter-spacing: -0.05em;
                        color: #1C1C1C;'
              >{{tempPassword}}
              </td>
            </tr>
            <tr>
              <td class='blank_003' style='height: 32px;'></td>
            </tr>
            <tr>
              <td
                class='divider'
                bgcolor='#E7E5E4'
                style='width: 100%; height: 1px;padding:0px;display:block;'
              > </td>
            </tr>
            <tr>
              <td class='blank_003' style='height: 32px;'></td>
            </tr>
            <tr>
              <td
                class='info'
                style='font-weight: 400;
                        font-size: 12px;
                        line-height: 150%;
                        letter-spacing: -0.05em;
                        color: #837F7C;'
              >
                비밀번호 찾기를 시도한 적이 없으시다면, 즉시 비밀번호를
                변경하시고
                <a
                  href='https://app.dngg.kr/faq'
                  target='_blank'
                  style='text-decoration: underline; color:#504C49;'
                >고객센터</a>로 문의해 주시기 바랍니다.
                <br />
                언제나 안정적인 서비스를 제공하기 위해 최선을 다하겠습니다.<br
                />
                감사합니다.
              </td>
            </tr>
            <tr>
              <td class='blank_004' style='height: 40px;'></td>
            </tr>
            <tr>
              <td
                class='border-line'
                style='padding: 12px 16px 12px 16px;
                        border: 1px solid #F4F3F3;'
              >
                <table style='border-spacing:0px;'>
                  <tr>
                    <td>
                      <img
                        src='https://d1jwjxg29cufk5.cloudfront.net/mail/ae12b482-bec3-4aec-afb2-7d1269e8fbc5.png'
                        width='12px'
                        height='12px'
                        alt='툴팁 아이콘'
                      />
                    </td>
                    <td
                      style='font-size: 11px;
                                    line-height: 150%;
                                    letter-spacing: -0.05em;
                                    color: #837F7C;
                                    padding-left: 12px;'
                    >임시 비밀번호를 사용해서 로그인하셔야 정상적인 사용이
                      가능합니다.<br />다른 문의사항이 있으시면
                      <a
                        href='https://app.dngg.kr/faq'
                        target='_blank'
                        style='color:#504C49; text-decoration: none;'
                      ><strong style='color: #837F7C;'>고객센터</strong></a>로
                      문의해 주시기 바랍니다.</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class='blank_006' style='height: 48px;'></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td
          class='footer'
          bgcolor='#F7F7F7'
          style='padding: 24px 0px 0px 32px; border-left: 1px solid #E7E5E4; border-right: 1px solid #E7E5E4; border-bottom: 1px solid #E7E5E4;'
        >
          <table style='border-spacing:0px !important;'>
            <tr>
              <td
                class='terms'
                style='font-size: 11px;
                        color: #837F7C;'
              >
                <a
                  href='https://app.dngg.kr/terms'
                  target='_blank'
                  style=' color: #837F7C;
                            text-decoration: none;
                            line-height: 150%;
                            letter-spacing: -0.05em;'
                >동네가게 서비스 이용약관</a>
                <span class='divider_002' style='color: #D9D9D9;'>|</span>
                <a
                  href='https://app.dngg.kr/privacy'
                  target='_blank'
                  style='text-decoration: none;'
                ><strong
                    style='color:#837F7C;
                                line-height: 150%;
                                letter-spacing: -0.05em;'
                  >개인정보 처리방침</strong></a>
                <span class='divider_002' style='color: #D9D9D9;'>|</span>
                <a
                  href='https://play.google.com/store/apps/details?id=kr.dngg.app'
                  target='_blank'
                  style=' color: #837F7C;
                            text-decoration: none;
                            line-height: 150%;
                            letter-spacing: -0.05em;'
                >동네가게 바로가기</a>
              </td>
            </tr>
            <tr>
              <td class='blank_007' style='height: 8px;'></td>
            </tr>
            <tr>
              <td
                class='footer-text'
                style='font-size: 10px;
                        color:#9C9996;
                        line-height: 150%; letter-spacing: -0.02em;'
              >
                본 메일은 발신전용 메일이므로 회신되지 않습니다.
              </td>
            </tr>
            <tr>
              <td
                class='footer-text'
                style='font-size: 10px;
                        color:#9C9996;
                        line-height: 150%; letter-spacing: -0.01em;'
              >
                Copyright ⓒ foodnet24. All rights reserved.
              </td>
            </tr>
            <tr>
              <td class='blank_002' style='height: 24px;'></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- copy area end-->
  </body>
</html>